In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pymysql
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
plt.rcParams['font.family'] = 'NanumGothicCoding'
plt.rcParams['font.size'] = 12
plt.rcParams['figure.dpi'] = 100

In [3]:
# 코로나19 양성자(표본) 감시현황
# https://ncov.kdca.go.kr/bdBoardListR.do?brdId=1&brdGubun=11
reader = pd.read_excel('datas/코로나바이러스감염증-19_확진환자_발생현황_230904_최종v2_sc.xlsx', sheet_name='시도별 발생(17개시도+검역)')
reader.to_csv('covid_rawdata.csv')

In [4]:
# csv 파일 다듬기
covid = pd.read_csv('covid_rawdata.csv')
covid.columns = covid.iloc[3]
covid.drop([0,1,2,3,4], inplace=True)
covid.reset_index(inplace=True)
covid.일자 = pd.to_datetime(covid.일자)
covid.일자 = covid.일자.dt.strftime('%Y-%m')
covid

3,index,3,일자,계(명),서울,부산,대구,인천,광주,대전,...,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
0,5,5,2020-01,1,-,-,-,1,-,-,...,-,-,-,-,-,-,-,-,-,-
1,6,6,2020-01,0,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,7,7,2020-01,0,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,8,8,2020-01,0,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,9,9,2020-01,1,1,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,1320,1320,2023-08,32967,6012,1543,1903,1913,1073,1046,...,8592,1017,1056,1580,1426,1055,1534,1923,371,1
1316,1321,1321,2023-08,13149,1905,522,465,1067,443,410,...,3802,537,677,569,410,497,778,534,190,0
1317,1322,1322,2023-08,42998,8485,2109,2215,2792,1109,1453,...,11954,1199,1227,1881,1607,1387,1798,2310,231,0
1318,1323,1323,2023-08,42586,7470,1778,2219,2726,1436,1248,...,11135,1524,1705,2006,1667,1402,2468,2218,403,1
1319,1324,1324,2023-08,49751,8564,2129,2440,3216,1599,1422,...,13388,1717,2122,2293,1936,1566,2666,2647,569,1

In [5]:
# 2020-01 ~ 2023-08 까지
period_arr = []
for year in range(2020,2024):
    for month in range(1,13):
        if year==2023 and month==9:
            break
        period_arr.append(f'{year}-{month:02d}')
# 도시별, 년-월별 합계 0으로 초기화
cities_dic = {'서울': {}, '부산': {}, '대구': {}, '인천': {}, '광주': {}, '대전': {}, '울산': {}, '세종': {}, '경기': {},
              '강원': {}, '충북': {}, '충남': {}, '전북': {}, '전남': {}, '경북': {}, '경남': {}, '제주': {}}
for cityName in cities_dic:
    for period in period_arr:
        cities_dic[cityName][period] = 0
# 도시별, 년-월 별 합계
for i,row in covid.iterrows():
    for city in cities_dic:
        if row[city] != '-':
            cities_dic[city][row.일자] += int(row[city])

In [6]:
# DB에 넣을 데이터로 가공
covid_df = pd.DataFrame({'local_id': [], '년-월': [], '확진자수': []})
cityCode_dic = {'서울': 11, '부산': 21, '대구': 22, '인천': 23, '광주': 24, '대전': 25, '울산': 26, '세종': 29, '경기': 31,
                '강원': 32, '충북': 33, '충남': 34, '전북': 35, '전남': 36, '경북': 37, '경남': 38, '제주': 39}

for cityName,cityCode in cityCode_dic.items():
    tmp_code = pd.DataFrame([cityCode]*len(cities_dic[cityName]))
    tmp_date = pd.DataFrame(cities_dic[cityName].keys())
    tmp_num = pd.DataFrame(cities_dic[cityName].values())
    tmp_cityData_df = pd.concat([tmp_code,tmp_date,tmp_num], axis=1)
    tmp_cityData_df.columns = ['local_id', '년-월', '확진자수']
    covid_df = pd.concat([covid_df,tmp_cityData_df], axis=0)
# 정수화
covid_df.local_id = covid_df.local_id.astype(int)
covid_df.확진자수 = covid_df.확진자수.astype(int)

In [8]:
covid_df.to_csv('covid_data_sc.csv', index=False)
filePath = 'covid_rawdata.csv'
if os.path.exists(filePath):
    os.remove(filePath)
    print(f"{filePath} has been deleted")
else:
    print(f"{filePath} does not exist")
covid_df

covid_rawdata.csv does not exist

    local_id      년-월   확진자수
0         11  2020-01      7
1         11  2020-02     67
2         11  2020-03    376
3         11  2020-04    183
4         11  2020-05    228
..       ...      ...    ...
39        39  2023-04   4091
40        39  2023-05   7731
41        39  2023-06  11471
42        39  2023-07  21084
43        39  2023-08  15674

[748 rows x 3 columns]

In [60]:
'''
# DB는 index가 1부터 시작
covid_df.index = covid_df.index+1
db_url = "mysql+pymysql://root:1234@localhost/mini_proj"
engine = create_engine(db_url)

try:
    conn = engine.connect()
    covid_df.to_sql('covid_data', con=engine, if_exists='append', index=False)
    print('connected')
except Exception as e:
    print('Exception:', e)
    print('fail')
finally:
    conn.close()
    print('DB close')
'''

connected
DB close